.card {
    width: 790px;
    height: 580px;
    border-radius: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 40px 0 60px;
    img {
        width: 350px;
        border-radius: 20px 20px 0 0;
        box-shadow: 5px 2px 30px 0px rgba(83, 86, 113, 0.38);
    }
    .project-details {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        height: 100%;
        width: 100%;
        .description-container{
            height: 100px;
            overflow: hidden;
        }
        .read-more-closed {
            height: fit-content;
        }
        .read-more{
            background-color: rgb(237, 226, 247);
            opacity: 0.5;
            color: black;
            
            text-transform: uppercase;
            transition: font-weight 500ms ease, opacity 500ms ease;
            width: fit-content;
            cursor: pointer;
            margin-top: -20px;
            font-size: 14px;
            padding: 5px 15px;
            border-radius: 50px;
            &:hover{
                font-weight: 600;
                opacity: 1;
            }
        }
        .arrow {
            height: 13px;
            object-fit: contain;
            box-shadow: none;
            transform: rotate(180deg);
            margin-top: -20px;
        }
        p {
            margin: 0;
            font-size: 17px;
            line-height: 24px;
        }
        .icon-container {
            display: flex;
            align-items: flex-start;
            gap: 30px;
            img {
                height: 55px;
                box-shadow: none;
                object-fit: contain;
                width: fit-content;
                border-radius: 0;
            }
        }
        .button-container {
            margin-top: 20px;
            display: flex;
            gap: 20px;
        }
        a{
            text-decoration: none;
            text-wrap: nowrap;
        }
        button {
            border-radius: 50px;
            padding: 15px 25px;
            border: none;
            font-size: 16px;
            font-family: syne;
            text-transform: uppercase;
            background-color: white;
            opacity: 0.6;
            box-shadow: 5px 2px 30px 0px rgba(83, 86, 113, 0.23);
            transition: background-color 300ms ease, opacity 500ms ease, box-shadow 900ms ease, font-weight 500ms ease;
            display: flex;
            justify-content: center;
            gap: 10px;
            &:hover {
                background-color:#c7eded;
                opacity: 1;
                box-shadow: 5px 6px 30px 0px rgba(83, 86, 113, 0.42);
                font-weight: 600;
            }
            svg {
                height: 16px;
            }
        }
        .disabled {
            box-shadow: none;
            opacity: 0.7;
            background-color: rgba(255, 255, 255, 0.12);
            color: black;
            box-shadow: none;
            border: solid 1.5px rgba(0, 0, 0, 0.30);
            padding: 15px 30px;
            margin-top: 20px;
            &:hover {
                box-shadow: none;
                opacity: 0.7;
                background-color: rgba(255, 255, 255, 0.12);
                color: black;
                font-weight: 400;
            }
        }
    }
    h3 {
        font-size: 35px;
        margin: 0;
    }
}