@keyframes text-reveal {
    0% {
        clip-path: inset(0 0 150px 0);
        transform: translateY(80px);
        opacity: 0;
    }
    // 40% {
    //     opacity: 0;
    // }
    90% {
        transform: translateY(-1px);
    }
    100% {
        clip-path: inset(0 0 1px 0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  @keyframes load-screen {
    0% {
        transform: translateY(-1000px);
    }
    20% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1000px);
    }
  }

  @keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
  }