@import '../../animations/animation.scss';

.main-container{
    height: 90vh;
    padding: 0 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 54px;
        font-weight: 400;
        color: black;
        margin: 10px 0;
    }
    .first{
        animation: text-reveal;
        animation-duration: 1800ms;
        animation-fill-mode: backwards;
        animation-timing-function: ease-out;
        animation-delay: 100ms;
    }
    .second{
        animation: text-reveal;
        animation-duration: 1800ms;
        animation-delay: 1500ms;
        animation-fill-mode: backwards;
        animation-timing-function: ease-out;
    }
    span{
        font-weight: 700;
    }
    button{
        background-color: #DEDEFF     ;
        padding: 20px 50px;
        border-radius: 50px;
        border: none;
        font-size: 18px;
        font-family: syne;
        text-transform: uppercase;
        margin: 50px 0 80px 0;
        color: black;
        animation: animate-pop;
        animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
        animation-duration: 350ms;
        animation-delay: 3600ms;
        animation-fill-mode: backwards;
        transition: box-shadow 900ms cubic-bezier(.18,.97,.53,1), font-weight 500ms cubic-bezier(.18,.97,.53,1);
        text-wrap: nowrap;
        &:hover {
            background: linear-gradient(133deg, rgba(222,222,255,1) 35%, rgba(148,241,246,1) 100%);
            box-shadow: 2px 3px 35px 3px rgba(66, 68, 90, 0.25);
            cursor: pointer;
            font-weight: 600;
        }
    }
    @media screen and (max-width: 950px) {
        h1{
            font-size: 46px;
        }
    }
    @media screen and (max-width: 800px) {
        height: 70vh;
        h1{
            font-size: 38px;
        }
    }
    @media screen and (max-width: 400px) {
        h1{
            font-size: 30px;
        }
        button {
            font-size: 16px;
        }
    }
}
h2 {
    font-size: 50px;
    color: black;
    min-width: 350px;
    line-height: 60px;
    font-weight: 600;
    margin: 0 0 20px 0;
    @media screen and (max-width: 1020px) {
        font-size: 38px;
    }
    @media screen and (max-width: 400px) {
        font-size: 30px;
        line-height: 44px;
    }
    @media screen and (max-width: 360px) {
        min-width: auto;
    }
} 
#works {
    scroll-behavior: smooth;
}
.works-title  {
    padding-top: 100px;
    position: sticky;
    top: 10px;
}
.glass-overlay{
    background-color: rgb(235, 240, 240 , 50%);
    border-radius: 80px;
    padding: 50px 40px 50px 60px;
    box-shadow: 6px 3px 48px -15px rgba(66, 75, 90, 0.3);
    display: flex;
    align-items: flex-start;
    .card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        margin: 0 30px 0 40px;
    }
    @media screen and (max-width: 1350px) {
        .card-wrapper{
            margin: 0;
        }
    }
    @media screen and (max-width: 1300px) {
        padding: 30px 40px;
        flex-direction: column;
        margin: 0;
        .works-title{
            position: static;
            padding-top: 30px;
        }
    }
    @media screen and (max-width:685px) {
        padding: 10px;
        border-radius: 50px;
    }
}
#about {
    scroll-behavior: smooth;
}
.about-container {
    padding: 150px 10%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 80px;
    .img-box{
        display: flex;
        height: 350px;
        width: 300px;
    }
    h2 {
        margin-bottom: 40px;
    }
    p {
        font-size: 20px;
        line-height: 30px;
    }
    @media screen and (max-width: 1150px) {
        .img-box{
            height: 300px;
        }
    }
    @media screen and (max-width: 1000px) {
        gap: 50px;
        .img-box{
            height: 250px;
            width: auto;
        }
        p{
            font-size: 18px;
            line-height: 26px;
        }
    }
    @media screen and (max-width: 800px) {
        padding: 80px 4% 80px 6% ;
        gap: 30px;
    }
    @media screen and (max-width: 700px) {
        flex-direction: column-reverse;
        padding: 80px 8%;
        p{
            font-size: 16px;
            line-height: 24px;
        }
        .img-box{
            height: 0;
            img{
                display: none;
            }
        }
        div{
            width: 100%;
        }
    }
    @media screen and (max-width: 360px) {
        padding: 80px 10px;
        div{
            width: 100%;
        }
    }
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
    h2 {
        text-align: center;
    }
        &-container{
        display: flex;
        flex-direction: column;
        padding: 80px 0 140px 0;
        justify-content: space-between;
        gap: 60px;

            .skills-card{
                display: flex;
                align-items: center;
                font-size: 20px;
                line-height: 30px;
                background-color: rgb(235, 240, 240 , 50%);
                box-shadow: 6px 3px 48px -15px rgba(66, 75, 90, 0.3);
                border-radius: 25px;
                gap: 80px;
                padding: 10px 30px;
                .card-title {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    justify-content: center;
                    width: 55%;
                }
                img {
                    width: 60px;
                }
                h4{
                    font-size: 22px;
                    margin: 0;
                }
                ul{
                    width: 40%;
                    li {
                        list-style: none;
                        text-wrap: nowrap;
                    }
                }
            }
        }
    @media screen and (max-width: 1000px) {
        .skills-card{
            flex-direction: column;
            gap: 0;
            .card-title{
                flex-direction: row-reverse;
                gap: 20px;
                justify-content: flex-end;
                width: 100%;
            }
            ul{
                display: flex;
                width: 100%;
                gap: 40px;
            }
        }
    }
    @media screen and (max-width: 800px) {
        .skills-card{
            font-size: 16px;
            line-height: 24px;
        }
    }
    @media screen and (max-width: 630px) {
        padding: 10px;
    }
    @media screen and (max-width: 500px) {
        .skills-card{
            ul{
                gap: 15px;
            }
        }
    }
    @media screen and (max-width: 450px) {
        .skills-card{
            img{
                width: 40px;
            }
            ul{
                flex-direction: column;
            }
        }
    }
}
