@import '../../animations/animation.scss';

.scroller-container {
    background-color: #ffffff;
    box-shadow: 2px 3px 23px 3px rgba(66, 68, 90, 0.14);
    overflow: hidden;
    div {
        display: flex;
        gap: 80px;
        padding: 35px;
        animation: scroll 18s infinite linear;
    }
    
    p {
        font-size: 24px;
        font-weight: 700;
        text-wrap: nowrap;
    }
    img {
        height: 60px;
    }
}